<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="ExtentReport.Lestener"></listener>
    </listeners>

    <test name="Ndosi Autmation" >
        <classes>
            <class name="Tests.NdosiAutomation1Tests">
            </class>

        </classes>
    </test>
</suite>
