<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Ndosi Web UI Test Suite">
    <listeners>
        <listener class-name="ExtentReport.ExtentReportListener"></listener>
    </listeners>

    <test verbose="2" preserve-order="true" name="Ndosi Automation Website tests">
        <classes>
            <class name="Tests.LoginTests">
            </class>
            <class name="Tests.RegisterTests">
            </class>
        </classes>
    </test>
</suite>